html {
    background-color: #ebebeb;
    font-family: 'Nixie One', cursive;
    font-weight: 800;

    

}

.wrapper {
    margin: 0 5%;

    background-image: url("../images/typewriter2.jpg");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    display: grid;
    grid-template-columns: 1fr;
    height: 50px;
}

.columns {
    display: grid;
    grid-template-columns: 19% 62% 19%;

    margin-top: 5vh;

    height: 800px;

}



.header h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    color: #fe5531;
    padding: 10px;
    background-color: black;
 
}


.middle {

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:minmax(6vh, 6vh);
    position: relative;
}

.first {
    position: relative;
    display: grid;
    grid-template-rows: 20% 20% auto;
    grid-gap: 50px;
}


#incorrect {

    padding: 20px;
    color: #fe5531;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    height: 150px;
    width: 150px;
    

}

.last {
    position: relative;
    display: grid;
    grid-template-rows: 20% 20%;
    grid-gap: 50px;

}
/* 
#incorrect::before {
    content: "";
    background: black;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    height: 200px;
    border-radius: 20%;

  } */

    #remaining {

    padding: 20px;
    color: #fe5531;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    height: 150px;
    width: 150px;
    

}

/* #remaining::before {
    content: "";
    background: black;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    height: 200px;
    border-radius: 20%;

  } */

    #wins {

    padding: 20px;
    color: #fe5531;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    height: 150px;
    width: 150px;
    position: relative;
    left: 25px;
    

}

/* #wins::before {
    content: "";
    background: black;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
    z-index: -1;   
    height: 200px;
    border-radius: 20%;

  } */

#losses {

    padding: 20px;
    color: #fe5531;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    height: 150px;
    width: 150px;
    position: relative;
    left: 25px;
    

}
/* 
#losses::before {
    content: "";
    background: black;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    height: 200px;
    border-radius: 20%;

  } */
#wrong-letters {
    padding-top: 20px;
    line-height: 140%;

}

#user-progress {
    position: relative;
    text-align: center;
    font-size: 2em;
    padding-top: 20px;

}

#chances {
    padding-top: 20px;
    line-height: 140%;
}
#numwins {
    padding-top: 20px;
    line-height: 140%;
}
#numloss {
    padding-top: 20px;
    line-height: 140%;
}

.button {
    padding: 20px;
    color: black;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    background-color:#fe5531;
    border-radius: 10px;
    width: 150px;
    height: 50px;

}