html {
    background-color: #ebebeb;
    font-family: 'Nixie One', cursive;
    font-weight: 800;
    

}

.wrapper {
    margin: 0 5%;
}

.title {
    display: grid;
    grid-template-columns: 1fr;
    height: 50px;
}

.columns {
    display: grid;
    grid-template-columns: 29% 57% 14%;
    background-image: url("../images/typewriter2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;

}


